<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_discutions_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_discutions_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.DiscutionsApp"
        tools:targetApi="31">
        <activity
            android:name=".views.activities.complete.CompleteProfileActivity"
            android:exported="false"
            android:label="@string/title_activity_complete_profile"
            android:theme="@style/Theme.DiscutionsApp" />
        <activity
            android:name=".views.activities.dashboard.DashboardActivity"
            android:exported="false"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/Theme.DiscutionsApp" />
        <activity
            android:name=".views.activities.register.RegisterActivity"
            android:exported="false"
            android:label="@string/title_activity_register"
            android:theme="@style/Theme.DiscutionsApp" />
        <activity
            android:name=".views.activities.login.LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.DiscutionsApp" />
        <activity
            android:name=".views.activities.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.DiscutionsApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />
        <service
            android:name=".controllers.PushNotificationFirebaseService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>