<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_discutions_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_discutions_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.DiscutionsApp"
        tools:targetApi="31">
        <activity
            android:name=".views.BottomNavigationBar"
            android:exported="false"
            android:label="@string/title_activity_bottom_navigation_bar" />
        <activity
            android:name=".views.activities.dashboard.DashboardActivity"
            android:exported="false"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/Theme.DiscutionsApp" />
        <activity
            android:name=".views.activities.register.RegisterActivity"
            android:exported="false"
            android:label="@string/title_activity_register"
            android:theme="@style/Theme.DiscutionsApp" />
        <activity
            android:name=".views.activities.login.LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.DiscutionsApp" />
        <activity
            android:name=".views.activities.splash.SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.DiscutionsApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>